/* 
    css for the homepage
*/

#hero_container{
    height: 100vh;
}

#hero{
    margin:0 auto;
    margin-top: 20vh;
    width: 70%;
}


#hero-greeting{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    margin-bottom: 10px;
}

#hero-name{
    font-size: 5em;
    color: var(--green);
    margin: 0px;
}

#hero-introduction{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top:10px;
    width:50vw;
    font-size: 2em;
}


#github-link{
    text-decoration: none;
    color: var(--red);
    align-items: center;
    display: flex;
}


#github-link svg{
    fill:var(--red);
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

#github-link:hover{
    color: var(--green)
}

#github-link:hover svg{
    fill: var(--green)
}

#aboutme_container{
    min-height: 80vh;
}

#aboutme{
    width: 90vw;
    margin: auto;

}

#aboutme_header{
    color: var(--green);
    font-size: 2em;
}

#aboutme_desc p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3em;
}

#aboutme_desc p span{
    color:var(--yellow);
}