/* 
    Reqiured css to all parts of the website
*/

:root{
    --red: #d62341;
    --green: #9ece58;
    --yellow: #faed70;
    --blue: #396fe2;
    --violet: #bb80b3;
    --cyan: #2ddafd;
    --light_gray: #d0d0d0;
    --dark_gray: #1d272d;
}

body{
    background-color: var(--dark_gray);
    font-family: 'Courier New', Courier, monospace;
}

#topbar_container{
    display: flex;
    justify-content: center;
}

#topbar{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    position: fixed; 
    top: 0; /* Position the navbar at the top of the page */
    width: 85%; /* Full width */
    max-height: 60px;

}

#topbar div{
    margin-top: 10px;
}

#topbar a{
    text-decoration: none; 
    color: var(--light_gray);
    font-size: 25px;
}

#topbar_right{
    margin-left: auto;
}

#topbar_right a{
    padding: 15px;
    font-weight: bolder;
}

#topbar_right a:hover{
    color:var(--green);
}

#topbar_left{
    display: flex;
}

#topbar_left a{
    color: var(--green);
    font-weight: bolder;
}

#topbar_left #cursor_box{
    background-color:#9ece58;
    height: 25px;
    margin-top: 0;
    width: 10px;
    margin-left: 5px;
}

