/* 
    Reqiured css to all parts of the website
*/

:root{
    --red: #d62341;
    --green: #9ece58;
    --yellow: #faed70;
    --blue: #396fe2;
    --violet: #bb80b3;
    --cyan: #2ddafd;
    --light_gray: #d0d0d0;
    --dark_gray: #1d272d;
}

body{
    background-color: var(--dark_gray);
    font-family: 'Courier New', Courier, monospace;
    color: var(--light_gray);
}

#topbar_container{
    display: flex;
    justify-content: center;
}

#topbar{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    position: fixed; 
    top: 0; /* Position the navbar at the top of the page */
    width: 80%; /* Full width */
    max-height: 5.5vh;

}

#topbar div{
    margin-top: 2vh;
}

#topbar a{
    text-decoration: none; 
    color: var(--light_gray);
    font-size: 2.5vh;
}

#topbar_right{
    margin-left: auto;
}

#topbar_right a{
    padding: 1.4vh;
    font-weight: bolder;
}

#topbar_right a:hover{
    color:var(--green);
}

#topbar_left{
    display: flex;
}

#topbar_left a{
    color: var(--green);
    font-weight: bolder;
}

#topbar_left #cursor_box{
    background-color:#9ece58;
    height: 100%;
    margin-top: 0;
    width: .93vh;
    margin-left: .46vh;
}

.content_container{
    min-height: 100vh;
}